.carrusel {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.imagenes {
  display: flex;
  transition: transform 2s ease;
}

.imagen {
  min-width: 100%;
  box-sizing: border-box;
}

.botones {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.boton {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin: 0;
}

.card-description {
  color: #555;
  margin: 10px 0;
}

.card .editar{

  padding: 10px 15px;
  background-color: #7700ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}
.card .editar:hover{
  background-color: #b23fe0; 
  
}


.form-edicion {
  padding: 20px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.form-edicion input,
.form-edicion textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.save button {
  background-color: #28a745;
}

.save-button:hover {
  background-color: #218838;
}
.cancelar{
  background-color: #ff0000;
}
.cancelar:hover{
  background-color: #fa6767;

}


.oculto {
  display: none;
}

.row {
  padding: 15px;
}

.fondo .col a{
  align-items: center;
  display: flex;
  justify-content: center;
}

.fondo .col a .card {
  width:70% ;
  height: 100%;
}

.fondo h1 {
  display: flex;
  justify-content: center;
}

.fondo .card {
  transition: transform 0.3s ease; /* Suaviza la transformación */
}

.fondo .card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al 105% */
}



