
footer {
   
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    height: max-content;
   
}

.footer-content {
    margin-bottom: 30px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}

