
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}


.footer .imagenf {
    max-width: 8%;
    height: auto;
}


.footer h2 {
    font-size: 24px;
    margin: 10px 0;
}

.footer p {
    font-size: 16px;
    margin: 5px 0;
}


.footer a {
    color: #ff6347; 
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}


button {
    background-color: #7700ff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b23fe0; 
}
#save-footer {
    background-color: #28a745;
  }
  
  #save-footer:hover {
    background-color: #218838;
  }

.social-media {
    margin-top: 10px;
}

.social-media a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline;
}


.bg-background {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}